{% extends 'base.html' %}
{% load static %}

{% block page_content %}

    <div class="pet-profile">
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src="{{ pet.personal_pet_photo }}"
                             alt="An image of {{ pet.name }}">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <p>{{ pet.name }}</p>
                        <a href="{% url 'edit pet' username=Ivo pet_slug=pet_slug %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>
                        <a href="{% url 'delete pet' username=Ivo pet_slug=pet_slug %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    </div>
                    <div class="data">
                        <span>{{ total_photos }}</span>
                        <p>photos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pet-posts">
            {% if pet.photos %}
                {% include 'common/pets-posts.html' %}
            {% else %}
                <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
            {% endif %}
        </div>
    </div>

{% endblock %}
